/*Layout*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
    animation: fadeIn 3s;
    animation-delay: .1s;
}

.nav-link {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    animation: fadeIn 3s;
    animation-delay: .1s;
}

.container {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .4s;
}

.container a:hover{
    color: #00abf0;
}

/*Index*/
body {
    background: url(../lib/img/R.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: #ededed;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10% 10%;
}

.home {
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    animation: fadeIn 3s;
    animation-delay: .1s;
}

    .home-content h1::before {
        
    }

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
    animation: fadeIn 3s;
    animation-delay: .1s;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    animation: fadeIn 3s;
    animation-delay: .1s;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-around;
    width: 345px;
    height: 50px;
    animation: fadeIn 3s;
    animation-delay: .1s;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    animation: fadeIn 3s;
    animation-delay: .1s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background-color: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2)::before{
    background-color: #00abf0
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

/*Social Media logos links*/

.home-sci {
    position: absolute;
    bottom: 330px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    animation: fadeIn 4s;
    animation-delay: .1s;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: #081b29;
}


.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

/*Image hover effect*/

.home-imgHover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 1990px;
    height: 100%;
    background-color: transparent;
    transition: 3s;
}

/*KEYFRAMES ANIMATION*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}