@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section class="home">
    <div class="home-content">
        <h1>Welcome to BurgerShark</h1>
        <h3>What makes a good burger?</h3>
        <p>What are we? We are here to advertise every type of burger
            variants. We're here to provide information and knowledge for your
            burger cravings! From BurgerKing's whoopers, Mcdonald's Big Macs,
            or even Jollibee's Yum Burger.
        </p>
        <div class="btn-box">
            <a href="https://www.youtube.com/watch?v=LcoJI1OHfwU">Learn More</a>
            <a href="https://www.bk.com">Order Now</a>
        </div>
    </div>
    <div class="home-sci">
        <a href="https://www.facebook.com/burgerkingph"><i class='bx bxl-facebook-circle'></i></a>
        <a href="https://twitter.com/JollibeeUSA/media?lang=en"><i class='bx bxl-twitter'></i></a>
        <a href="https://www.instagram.com/wendys/"><i class='bx bxl-instagram'></i></a>
    </div>
    <span class="home-imgHover"></span>
</section>